// MailerLog Email Views Styles

.mailer-log-email-preview {
  width: 100%;
  height: 500px;
  border: 1px solid #ddd;
  background: #fff;
}

.mailer-log-scrollable-content {
  max-height: 500px;
  overflow: auto;
}

.mailer-log-scrollable-content-sm {
  max-height: 300px;
  overflow: auto;
}
